<template name="index">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" style="margin-top:10%;">
                    <h1>APIHealthBar</h1>
                        {{>auth}}
                </div>

            </div>
        </div>
    </div>

</template>

<template name="auth">
    <div id="auth">
        <h3>Authenticate with your APItools credentials to get started</h3>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <label for="key">APItools key</label>
                <input class="form-control" type="text" id="key" value="144dca03d033fe2d5969301143622aa8">
            </div>
        </div>
        <div class="form-group">
        <div class="input-group input-group-lg">
            <label for="monitorID">Monitor ID</label>
            <input class="form-control" type="text" id="monitorID" value="2e1a00ee3fa3">
        </div>
    </div>

        <button class="btn btn-primary" type="submit" id="authenticate">Authenticate</button>
    </div>
</template>

<template name="servicesList">
    <div id="name">
        <button type="submit" id="listServices">List Services</button>
        {{ #each services }}
          {{ name }}_{{_id}}
        {{ /each }}
    </div>
</template>

<template name="newService">
    <div id="newService">
        <h3>Create a new service</h3>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <label for="serviceName">Service Name</label>
                <input class="form-control" type="text" id="serviceName" value="nico">
            </div>
        </div>
        <div class="form-group">
                <div class="input-group input-group-lg">
                    <label for="serviceURL">Service URL</label>
                <input class="form-control" type="text" id="serviceURL" value="https://dummyapi.scalingo.io">
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="createService">Create service</button>
    </div>
</template>
